pandas==2.3.3
numpy==2.4.0
python-dotenv==1.2.1
pydantic==2.12.5
streamlit==1.55.0
chromadb==1.5.5
sentence-transformers==5.3.0
langchain==1.2.0
langchain-core==1.2.22
langchain-groq==1.1.2
langgraph==1.0.5
pytest==9.1.0